@font-face {
    font-family: fontnegrito;
    src: url(../font/static/Inter-ExtraBold.ttf);

}
@font-face {
    font-family: fontnormal;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: fontnegrito2;
    src: url(../font/static/Inter-Bold.ttf);

}

* {
    margin: 0;
    padding: 0;
    font-family: fontnormal;
}
/*Menu*/
.menu {
 display: flex;
 margin-top: 2%;
}

.menu img {
    margin: 0 0 0 10%;
    display: block;
}

.menu > ul {
    display: flex;
    list-style: none;
    margin: 0 0 0 47%;
}

.menu > ul > a {
    margin: 10px 0 0 40px;
    text-decoration: none;
    color: gray;
}

.menu > ul > a:hover {
    color: hsl(35, 77%, 62%);
    transition: 0.2s;
}
/*Menu*/

/*Seção Principal*/

.imagem_principal {
    width: 900px;
    height: 300px;
    margin: 40px 0 0 10%;
}

.secao1 {
    display:grid;
}
.secao1 > .texto1 {
    display: flex;
    padding: 2% 35% 0 10%;
}
.secao1 > .texto1 > .botaoetexto > p {
    font-size: 18px;
    color: gray;
    line-height: 30px;
}
.secao1 > div > h1 {
    color: hsl(240, 100%, 5%);
    font-size: 60px;
    font-family: fontnegrito;
    margin-right: 10%;
}
.botaoetexto {
    display: grid;
}

.botaoetexto > button {
    width: 200px;
    height: 50px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: hidden;
    font-family: fontnegrito2;
    letter-spacing: 3px;
}

.botaoetexto > button:hover {
    background-color: hsl(240, 100%, 5%);
    transition: 0.2s;
}
/*Seção Principal*/

/*Seção NEW*/
.new {
    height: 570px;
    width: 350px;
    position: absolute;
    display:grid;
    background-color: hsl(240, 100%, 5%);
    left: 69%;
    top: 14%;
}

.new > div {
    border-bottom: solid gray;
    border-width: 1px;
    border-spacing: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.new > div > h2{
    color: hsl(35, 77%, 62%);
    font-size: 40px;
    padding: 25px 0 0 10px;
}

.new > div > h3{
    color: hsl(36, 100%, 99%);
    padding: 25px 0 0 10px;
    font-size: 20px;
}
.new > div > p{
    color: hsl(36, 100%, 99%);
    padding: 10px 5px 0 10px;
    font-size: 15px;
    opacity: 60%;
}
/*Seção NEW*/

/*SEÇÃO DE FOTOS*/
.fotos {
    position:absolute;
    display: flex;
    margin: 5% 0 10% 10%;
    padding: 0 0 5% 0;
    width: 80%;
    height: 20%;
}
.fotos > div {
    display: flex;
}
.texto1,.texto2,.texto3 {
    display: grid;
    padding: 0 0 3% 5%;
}

.fotos > div > div > h2 {
    color: gray;
    opacity: 50%;
    font-size: 40px;
}

.fotos > div > div > h3 {
    color: hsl(240, 100%, 5%);

}

.fotos > div > div > p {
    color: gray;
    font-size: 15px;
}

/*SEÇÃO DE FOTOS*/